body{
    background-color: rgb(166, 163, 163);

}
.card{
    width: 30%;
    border-radius: 1em;
    margin: auto;
    height: 40vh;
    width:30vw;
    background-color: aliceblue;
    text-align: left;
}
.game-title{
    justify-self: center;
    font-size: 1.5em;
    margin: 0 0 0 0;
    height: min-content;
    width:fit-content;
    text-align: left;
}
.gameImage{
    grid-column: 1;
    grid-row: 1/3;
    height: fit-content;
    width: fit-content;
    display: flex;
    border-radius: 0.5em;
    justify-self: center;
    margin-bottom: 10px;
}
.publisher{
    justify-self: center;
    font-size: 1.5em;
    margin: 0 0 0 0;
    height: min-content;
    width: fit-content;
}
.grid-container{
        display: grid ;

        grid-template-columns: auto auto auto;

}