.card{
    padding:05em;
    display: grid;
    grid-template-columns:  1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    grid-column: 2;
    grid-gap: 1em;
    width: 30%;
    border-radius: 1em;
    margin: auto;
    height: 15vh;
    background-color: aliceblue;
    text-align: left;
}
.game-title{
    justify-self: center;
    font-size: 1.5em;
    margin: 0 0 0 0;
    height: min-content;
    width:fit-content;
    text-align: left;
}
.gameImage{
    grid-column: 1;
    grid-row: 1/3;
    height: fit-content;
    width: fit-content;
    display: flex;
    border-radius: 0.5em;
    justify-self: center;
}
.publisher{
    justify-self: center;
    font-size: 1.5em;
    margin: 0 0 0 0;
    height: min-content;
    width: fit-content;
}